# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Environment variables & secrets
.env*.local

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor metadata
.DS_Store
*.pem